@font-face {
  font-family: noto;
  src: url('../fonts/NotoSerif-Regular.ttf');
}
@font-face {
  font-family: notob;
  src: url('../fonts/NotoSerif-Regular.ttf');
}
@font-face {
  font-family: notoi;
  src: url('../fonts/NotoSerif-Regular.ttf');
}
@font-face {
  font-family: notoib;
  src: url('../fonts/NotoSerif-Regular.ttf');
}