@font-face {
  font-family: noto;
  src: url('../fonts/RobotoSlab-Light.ttf');
}
@font-face {
  font-family: notob;
  src: url('../fonts/RobotoSlab-Bold.ttf');
}
@font-face {
  font-family: horror;
  src: url('../fonts/DOKTOR_terror.ttf');
}
