$baseline: 22px;

body {
  font-family: noto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: notob;
}
h1 {
  font-size: 2em;
  line-height: $baseline*2;
}
h2 {
  font-size: 1.8em;
  line-height: $baseline*1.8;
}
h3 {
  font-size: 1.5em;
  line-height: $baseline*1.5;
}
h4, h5, h6 {
  font-size: 1.3em;
  line-height: $baseline*1.3;
}
p {
  line-height: $baseline;
}
hr { 
  flex: 0 0 100%;
  margin: auto;
  border-style: inset;
  border-width: 1px;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
  h1 {
    font-size: 3em;
    margin: 10px; 
  }
}
#content {
  margin-top: 100px;
  width: 100%;
  section {
  display: flex;
  flex-wrap: wrap;
  }
  header {
    flex: 0 0 100%;
    margin: 10px;
  }
  .article {
    padding: 10px;
    flex: 1 1 400px;
    width: 100%;
    img { 
      float: left;
      width: 50%;
    }
    .image {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}