<!DOCTYPE html>
<html lang="sv_SE">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  {% include seo.html %}
  {% seo %}
  {% feed_meta %}
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
{% include head.html %}
<div id="hero">
&nbsp;
</div>
<div id="content">
  <section>
    <header>
    <h2>{{ page.title }}</h2>
    {% if page.url == '/' %}<h3 class="editable">{{ site.description }}</h3>{% else %}<h3>{{ page.description }}</h3>{% endif %}
    </header>
    <hr />
    {{ content }}
  </section>
</div>

</body>

</html>
