<!DOCTYPE html>
<html lang="sv_SE">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  {% include seo.html %}
  {% seo %}
  {% feed_meta %}
  <script src="/assets/js/jquery.min.js"></script>
</head>

<body>
{{ content }}
</body>

</html>
