---
layout: default
---
<div class="article">
  <div class="flexcontainer">
    <div>
      {{ content }} 
    </div>
    <div>
        {% for image in page.images %}
        <a href="{{ image.path }}" target="_blank"><img src="{{ image.path }}" alt="{{ image.description }}" /> </a>
        {% endfor %}
    </div>
  </div>
  <div style="text-align: center;margin-top:50px;">
      {% if page.previous.url %}<a href="{{ page.previous.url }}">&laquo; Äldre inlägg</a>{% endif %} 
      {% if page.previous == nil %}{% elsif page.next == nil %}{% else %} | {% endif %}
      {% if page.next.url %} <a href="{{ page.next.url }}">Nyare inlägg &raquo;</a>{% endif %}
  </div>
</div>
